<!-- Mobile Nav (max width 767px)-->
<div class="mobile-nav">
  <!-- Navbar Brand -->
  <div class="amado-navbar-brand">
    <a href="index.html"><img src="<%= image_url('core-img/logo.png') %>" alt=""></a>
  </div>
  <!-- Navbar Toggler -->
  <div class="amado-navbar-toggler">
    <span></span><span></span><span></span>
  </div>
</div>

<%= render 'types', types: @types.results %>

<div class="amado_product_area section-padding-100">
  <div class="container-fluid">

    <%= render 'filter' %>

    <div class="row">
      <% @products.results.each do |product| %>
        <%= render 'product', product: product %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-12">
      <!-- Pagination -->
        <nav aria-label="navigation" class="text-center">
          <ul class="pagination">

            <li class="page-item">
              <%= link_to products_path(page: products_previous_page_number, page_size: params[:page_size], filter: params.dig(:filter)), class: "page-link btn #{disabled_previous}" do %>
                <i class="fa fa-angle-double-left"></i>
              <% end %>
            </li>
            
            <li class="page-item">
              <%= link_to products_path(page: products_next_page_number, page_size: params[:page_size], filter: params.dig(:filter)), class: "btn page-link #{disabled_next}" do %>
                  <i class="fa fa-angle-double-right"></i>
              <% end %>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->